[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "soft/termite"]
	path = soft/termite
	url = https://github.com/thestinger/termite.git
[submodule "soft/vte-ng"]
	path = soft/vte-ng
	url = https://github.com/thestinger/vte-ng.git
[submodule "themes/Nordic"]
	path = themes/Nordic
	url = https://github.com/EliverLara/Nordic
[submodule "icons/Zafiro-icons"]
	path = icons/Zafiro-icons
	url = https://github.com/zayronxio/Zafiro-icons
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
[submodule "soft/neofetch"]
	path = soft/neofetch
	url = https://github.com/dylanaraps/neofetch
[submodule "config/gedit/nord-gedit"]
	path = config/gedit/nord-gedit
	url = https://github.com/arcticicestudio/nord-gedit
[submodule "config/awesome/widget/battery-widget"]
	path = config/awesome/widget/battery-widget
	url = https://github.com/deficient/battery-widget
[submodule "soft/awesome"]
	path = soft/awesome
	url = https://github.com/awesomeWM/awesome.git
[submodule "soft/lua-pam"]
	path = soft/lua-pam
	url = https://github.com/RMTT/lua-pam
[submodule "soft/panrun"]
	path = soft/panrun
	url = https://github.com/mb21/panrun.git
[submodule "soft/rofi"]
	path = soft/rofi
	url = https://github.com/davatorium/rofi.git
[submodule "soft/neovim"]
        path = soft/neovim
        url = https://github.com/neovim/neovim
