[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "soft/termite"]
	path = soft/termite
	url = https://github.com/thestinger/termite.git
[submodule "soft/vte-ng"]
	path = soft/vte-ng
	url = https://github.com/thestinger/vte-ng.git
