vim/bundle
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
local/share/fonts/truetype/.uuid
config/spicetify/CustomApps
config/spicetify/Extensions
config/spicetify/Extracted
config/spicetify/Backup
/vim/sessions/default.vim
/vim/view
vim/.netrwhist
__pycache__
